@{
    Layout = "~/Views/Shared/_LayoutForAccount.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
    <div class="single-layout">
        <div class="single-layout-row w-row">
            <!-- Левая колонка -->
            <div class="single-layout-col left w-col w-col-4">
                <div class="single-layout-left">
                    <a href="/" class="single-layout-logo w-inline-block">
                        <img src="images/5e89ee4106f670eaf2d24514_artboard-20white-20color.svg" width="100" alt="" />
                    </a>
                    <div>
                    <h4 class="white">@localizer["Welcome"].Value.ToString()</h4>
                    </div>
                </div>
            </div>

            <!-- Правая колонка -->
            <div class="single-layout-col right w-col w-col-8">
                <div class="single-layout-right-header">
                @localizer["HaveAccountText"].Value.ToString()
                <a href="/account/login" class="link"><strong>@localizer["SignIn"].Value.ToString()</strong></a>
                </div>

                <div class="single-layout-right">
                    <div class="single-layout-right-content">
                        <div class="single-layout-logo-right">
                            <a href="/" class="w-inline-block">
                                <img src="images/5f1849420a7237b75a4f508d_artboard-20dark.svg" width="100" alt="" />
                            </a>
                        </div>
                    <h3 class="text-center mb-40">@localizer["SignupText"].Value.ToString()</h3>
                        <!-- Форма регистрации -->
                        <div class="w-form">
                            <form id="signup-form" asp-controller="Account" asp-action="Signup" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                            <label for="name" class="label"><strong>@localizer["Name"].Value.ToString()</strong></label>
                                <input type="text" class="input w-input" maxlength="256" name="username"
                                       data-name="Username" placeholder="@localizer["UserName"].Value.ToString()" id="username" required="" />

                            <label for="email" class="label"><strong>@localizer["Email"].Value.ToString()</strong></label>
                                <input type="email" class="input w-input" maxlength="256" name="email" data-name="Email"
                                   placeholder="@localizer["EmailPlace"].Value.ToString()" id="email" required="" />

                            <label for="password" class="label"><strong>@localizer["CreatePass"].Value.ToString()</strong></label>
                                <input type="password" class="input w-input" maxlength="256" name="password"
                                   data-name="Password" placeholder="@localizer["EnterPass"].Value.ToString()" id="password" required="" />

                                @* <label class="w-checkbox checkbox-field mb-40">
                                    <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                    <input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" required=""
                                           style="opacity:0;position:absolute;z-index:-1" />
                                    <span class="hint w-form-label">
                                        I agree to the <a href="/" target="_blank" class="link">Artboard terms & conditions</a>
                                    </span>
                                </label> *@

                            <input type="submit" value="@localizer["BtnCreate"].Value.ToString()" data-wait="@localizer["Wait"].Value.ToString()"
                                       class="button button-primary button-block w-button" />
                            </form>

                            <div class="success-message w-form-done">
                            <div>@localizer["Success"].Value.ToString()</div>
                            </div>
                            <div class="error-message w-form-fail">
                            <div>@localizer["Error"].Value.ToString()</div>
                            </div>
                        </div>
                        <!-- Конец формы -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    