@model List<Company>

@{
    ViewData["Title"] = "Список Компаний поставщиков";
}
<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Create At</th>
            <th>Greated By</th>
            <th>Name</th>
            <th>Contact Phone</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CreatedAt</td>
                <td>@item.CreatedBy</td>
                <td>@item.Name</td>
				<td>@item.ContactPhone</td>
                <td>@item.Address</td>
                <td>
                    <a href="@Url.Action("Edit", "Companies", new{id=item.Id})">edit</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Companies", new{id=item.Id})">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<a href="@Url.Action("Edit", "Companies")" class="btn btn-default">Add Company</a>