@model List<CRMSystem.Models.Order>
@{
    ViewData["Title"] = localizer["Completed"].Value.ToString();
}
<div class="app-main-layout">
    <div class="app-main-layout-header">
        <div class="app-main-layout-wrapper header">
            <div class="page-heading"><h2>@localizer["CompletedOrders"].Value.ToString()</h2></div>
            <div class="page-tabs-menu">
                <li class="page-tab-link revenue">@Html.ActionLink(@localizer["Incoming"].Value.ToString(), "Incoming", "Dashboard")</li>
                <li class="page-tab-link projects">@Html.ActionLink(@localizer["Processing"].Value.ToString(), "Processing", "Dashboard")</li>
                <li class="page-tab-link crypto">@Html.ActionLink(@localizer["Completed"].Value.ToString(), "Completed", "Dashboard")</li>
            </div>
        </div>
    </div>

    <div class="app-main-layout-wrapper">
        <div class="app-main-layout-content">
            <div class="page-tabs-content">
                <div class="section">
                    <div class="flex row w-row">
                        <div class="col w-col w-col-12">
                            <div class="card">
                                <div class="card-heading">
                                    <h4 class="mb-0">@localizer["CompletedOrders"].Value.ToString()</h4>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>@localizer["ContractNumber"].Value.ToString()</th>
                                            <th>@localizer["Flowers"].Value.ToString()</th>
                                            <th>@localizer["Count"].Value.ToString()</th>
                                            <th>@localizer["Price"].Value.ToString()</th>
                                            <th>@localizer["Client"].Value.ToString()</th>
                                            <th>@localizer["PhoneNumber"].Value.ToString()</th>
                                            <th>@localizer["Florist"].Value.ToString()</th>
                                            <th>@localizer["Date"].Value.ToString()</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in Model)
                                        {
                                            <tr>
                                                <td>@order.ContractNumber</td>
                                                <td>@order.FlowerName</td>
                                                <td>@order.Quantity</td>
                                                <td>@order.Price</td>
                                                <td>@(order.CustomerName ?? "Не указан")</td>
                                                <td>@order.CustomerPhone</td>
                                                <td>@order.Florist.FullName</td>
                                                <td>@order.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
