@model CRMSystem.Models.UserProfileModel
@{
    ViewData["Title"] = localizer["Title"].Value.ToString();
}

<div class="app-main-layout-container">
    <div class="app-main-layout-mask"></div>
    <div class="app-main-layout">
        <div class="app-main-layout-header">
            <div class="app-main-layout-wrapper header">
                <div class="page-heading">
                    <h2>@localizer["Title"].Value.ToString()</h2>
                    <p>@localizer["Description"].Value.ToString()</p>
                </div>
            </div>
        </div>

        <div class="app-main-layout-wrapper">
            <div class="app-main-layout-content">
                <div class="section">
                    <table width="100%">
                        <tr>
                            <td width="55%" valign="top">
                                <div class="card profile-card">
                                    <div class="profile-bg">
                                        <a href="#" class="edit-profile-bg w-inline-block"></a>
                                    </div>
                                    <div class="profile-info">
                                        <img src="/images/default-avatar.png" class="avatar big">
                                        <div class="profile-details">
                                            <h5 class="profile-name">@Model.Name</h5>
                                            <div>@Model.Email</div>
                                        </div>
                                    </div>
                                    <div class="profile-about">
                                        <div class="profile-info-row">
                                            <div>
                                                <strong>Email</strong>
                                                <div>@Model.Email</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td width="5%" valign="top"> <div></div></td>
                            <td width="40%" valign="top">
                                <div class="card">
                                    <div class="card-heading vertical">
                                        <h4>@localizer["ChangePassword"].Value.ToString()</h4>
                                    </div>
                                   
                                </div>
                            </td>
                        </tr>
                    </table>

                  
                    <div class="card p-4 shadow mt-4">
                        <h4>@localizer["FloristsList"].Value.ToString()</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@localizer["FloristName"].Value.ToString()</th>
                                    <th>@localizer["PhoneNumber"].Value.ToString()</th>
                                    <th>@localizer["СreatedBy"].Value.ToString()</th>
                                </tr>
                            </thead>
                            <tbody id="floristsList">
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
           
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }

            
            function loadFlorists() {
                var token = getCookie('jwtToken'); 
                console.log('JWT Token:', token);  

                $.ajax({
                    url: 'http://localhost:5053/api/Florists', 
                    type: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token 
                    },
                    success: function (data) {
                        console.log(data); 
                        var floristsList = $('#floristsList');
                        floristsList.empty(); 

                        if (data && data.length > 0) {
                            data.forEach(function (florist) {
                                floristsList.append('<tr><td>' + florist.fullName + '</td><td>' + florist.phone + '</td><td>' + florist.createdBy + '</td></tr>');
                            });
                        } else {
                            floristsList.append('<tr><td colspan="3">@localizer["NoFloristsAvailable"].Value.ToString()</td></tr>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching florists: ' + error);
                        alert('@localizer["FailedToLoadFlorists"].Value.ToString()');
                    }
                });
            }

            // Вызов функции для загрузки флористов при загрузке страницы
            loadFlorists();
        });
    </script>
}
