@{
    ViewData["Title"] = localizer["Title"].Value.ToString();
}

<div class="app-main-layout-container">
    <div class="app-main-layout-mask"></div>
    <div class="app-main-layout">


        <!--Welcome to Artboard!-->
        <div class="app-main-layout-header">
            <div class="app-main-layout-wrapper header">
                <div class="page-heading">
                    <h2>@localizer["Title"].Value.ToString()</h2>
                    <p class="mt-20 text-large">
                        @localizer["P1"].Value.ToString()
                        <br />
                        @localizer["P11"].Value.ToString()
                        
                    </p>
                </div>
            </div>
        </div>
        <!--Welcome to Artboard END-->



        <!--Overview-->
        <div class="app-main-layout-wrapper">
            <div class="app-main-layout-content">
                <div class="section-inner">
                    <div class="card">
                        <h4>@localizer["Overview"].Value.ToString()</h4>
                        <p>FloraCRM</p>
                        <p>
                            @localizer["P2"].Value.ToString()
                            
                        </p>
                        <p>
                            @localizer["P21"].Value.ToString()
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Overview END-->
    </div>
</div>
